{% extends "whatsapp/indexWhatsapp.html" %}

    {% block chatBlock %}
        {% for message in messages %}
            {%if message.sender_type == 'Client'%}
                <div class="chat-content-leftside">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <div class="flex-grow-1 ms-2">
                            <p class="mb-0 chat-time">{% if contact.name %}{{contact.name}}{% else %}{{contact.phone_number}}{%endif%}, {{ message.created_at|date:"m:H - d/m" }}</p>
                            {% if message.file %}

                                {% if message.file.content_type and "video" in message.file.content_type %}
                                    <div class="chat-left-msg">
                                        <video class="img-responsive w-100" controls preload="metadata">
                                            <source src="{{ message.file.file.url }}" type="{{ message.file.content_type }}">
                                            Tu navegador no soporta la reproducción de video.
                                        </video>
                                    </div>
                                {% elif message.file.content_type and "image" in message.file.content_type %}
                                    <div class="chat-left-msg">
                                        <img class="img-responsive w-100" src="{{ message.file.file.url }}" alt="archivo" style="max-width:100%; height:auto;">
                                    </div>
                                {% elif message.file.content_type and "pdf" in message.file.content_type %}
                                    <div class="chat-left-msg">
                                        <a href="{% url 'download_file' message.file.file.name %}" class="btn btn-outline-secondary">📎 Descargar PDF</a>
                                    </div>

                                {% elif message.file.content_type and "audio" in message.file.content_type %}
                                    <div class="rounded shadow-sm">
                                        <audio controls class="w-100 chat-left-msg" style="outline:none;">
                                        <source src="{{ message.file.file.url }}" type="{{ message.file.content_type|default:'audio/mpeg' }}">
                                        Tu navegador no soporta la reproducción de audio.
                                        </audio>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p class="chat-left-msg" style="white-space: pre-wrap;">{{ message.message_content }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {%elif message.sender_type == 'Agent'%}
                <div class="chat-content-rightside">
                    <div class="d-flex ms-auto">
                        <div class="flex-grow-1 me-2">
                            <p class="mb-0 chat-time text-end">{{message.sender.first_name}} {{message.sender.last_name}}, {{ message.created_at|date:"H:i - d/m" }}</p>
                            {% if message.file %}
                            <p class="chat-left-msg">
                                <img class="img-responsive" src="{{ message.file.file.url }}" alt="">
                            </p>
                            {% else %}
                            <p class="chat-right-msg">{{message.message_content|linebreaksbr}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <style>
            .img-responsive {
                width: 100%;
                height: auto;
                max-width: 600px;
                max-width: 600px;
                object-fit: contain;
                border-radius: 10px;
            }
        </style>
    {% endblock %}