/* Floating Container */

.floating-container {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.copy-button {
    background-color: #00ff08;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.copy-button:hover {
    background-color: #48aa4d;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.copy-button:active {
    transform: translateY(0);
}

.success-message {
    color: #00ff08;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

.input-verde-sombra {
    border: 2px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    box-shadow: 0 0 8px rgb(22, 107, 1); /* Sombra negra alrededor del input */
}

.custom-link {
    color: black;
}
.custom-link:hover {
    color: red; /* Cambia el color al pasar el mouse */
}