
{% load static %}
{% block head %}
    <title>Table Sales Month TV</title>
	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}" />
{% endblock %}
{% block page_content %}
<div class="row">
    <div class="col-12">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">Username</th>
                                {% for weekRange in weekRanges %}
                                <th class="text-center" colspan="4">{{ weekRange }}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for weekRange in weekRanges %}
                                <th class="text-success text-center">ACA P</th>
                                <th class="text-success text-center">ACA Ok</th>
                                <th class="text-primary text-center">SUPP P</th>
                                <th class="text-primary text-center">SUPP Ok</th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for user, sales in monthSales.items %}
                            <tr>
                                <td>{{ user }}</td>
                                <td class="text-center"><span class="text-success">{{ sales.Week1.obama }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week1.activeObama }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week1.supp }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week1.activeSupp }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week2.obama }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week2.activeObama }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week2.supp }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week2.activeSupp }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week3.obama }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week3.activeObama }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week3.supp }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week3.activeSupp }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week4.obama }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week4.activeObama }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week4.supp }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week5.activeSupp }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week5.obama }}</span></td>
                                <td class="text-center"><span class="text-success">{{ sales.Week5.activeObama }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week5.supp }}</span></td>
                                <td class="text-center"><span class="text-primary">{{ sales.Week5.activeSupp }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if toggle %}
                <a class="btn btn-outline-primary" href="{% url 'weeklyLiveViewTV' %}">View Daily</a>
                {% else %}
                <a class="btn btn-outline-primary" href="{% url 'monthLiveViewTV' %}">View Month</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

	

{% endblock %}
{% block end_js %}
    <script>
        let weekRanges = JSON.parse("{{weekRange|safe}}".replace(/'/g, '"'));
    </script>

	<!-- Bootstrap JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script src="{% static 'assets/js/alerts/viewTv.js' %}"></script>

    <script>
        startRedirectTimer("{% url 'weeklyLiveViewTV' %}");
    </script>
{% endblock %}