
{% load static %}
{% block head %}
    <title>Table Sales Week TV</title>
	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}" />
{% endblock %}
{% block page_content %}
<div class="row">					
    <div class="col-12">
        <div class="card radius-12">
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Username</th>
                            {% for day in weekDays %}
                            <th class="text-center" colspan="4">{{ day }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for day in weekDays %}
                            <th class="text-success text-center">ACA P</th>
                            <th class="text-success text-center">ACA Ok</th>
                            <th class="text-primary text-center">SUPP P</th>
                            <th class="text-primary text-center">SUPP Ok</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user, sales in weeklySales.items %}
                        <tr>
                            <td>{{ user }}</td>
                            <td class="text-center"><span class="text-success">{{ sales.lunes.obama }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.lunes.obamaActive }}</span></td>
                            <td class="text-center"><span class="text-primary">{{ sales.lunes.supp }}</span> </td>
                            <td class="text-center"><span class="text-primary">{{ sales.lunes.suppActive }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.martes.obama }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.martes.obamaActive }}</span></td>
                            <td class="text-center"><span class="text-primary">{{ sales.martes.supp }}</span> </td>
                            <td class="text-center"><span class="text-primary">{{ sales.martes.suppActive }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.miercoles.obama }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.miercoles.obamaActive }}</span></td>
                            <td class="text-center"><span class="text-primary">{{ sales.miercoles.supp }}</span> </td>
                            <td class="text-center"><span class="text-primary">{{ sales.miercoles.suppActive }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.jueves.obama }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.jueves.obamaActive }}</span></td>
                            <td class="text-center"><span class="text-primary">{{ sales.jueves.supp }}</span> </td>
                            <td class="text-center"><span class="text-primary">{{ sales.jueves.suppActive }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.viernes.obama }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.viernes.obamaActive }}</span></td>
                            <td class="text-center"><span class="text-primary">{{ sales.viernes.supp }}</span> </td>
                            <td class="text-center"><span class="text-primary">{{ sales.viernes.suppActive }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.sabado.obama }}</span></td>
                            <td class="text-center"><span class="text-success">{{ sales.sabado.obamaActive }}</span></td>
                            <td class="text-center"><span class="text-primary">{{ sales.sabado.supp }}</span> </td>
                            <td class="text-center"><span class="text-primary">{{ sales.sabado.suppActive }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if toggle %}
                <a class="btn btn-outline-primary" href="{% url 'weeklyLiveViewTV' %}">View Daily</a>
                {% else %}
                <a class="btn btn-outline-primary" href="{% url 'monthLiveViewTV' %}">View Month</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

	

{% endblock %}
{% block end_js %}
	<!-- Bootstrap JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<!--app JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script src="{% static 'assets/js/alerts/viewTv.js' %}"></script>

    <script>
        startRedirectTimer("{% url 'monthLiveViewTV' %}");
    </script>
{% endblock %}