{% extends "dashboard/index.html" %}
{% load static %}
{% block head %}
    <title>Table Tikect Asing</title>
	<!--plugins-->
	<link href="{% static "assets/plugins/simplebar/css/simplebar.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/metismenu/css/metisMenu.min.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/datatable/css/dataTables.bootstrap5.min.css" %}" rel="stylesheet" />
	<!-- loader-->
	<link href="{% static "assets/css/pace.min.css" %}" rel="stylesheet" />
	<script src="{% static "assets/js/pace.min.js" %}"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/bootstrap-extended.css" %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="{% static "assets/css/app.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/icons.css" %}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="{% static "assets/css/dark-theme.css" %}" />
	<link rel="stylesheet" href="{% static "assets/css/semi-dark.css" %}" />
	<link rel="stylesheet" href="{% static "assets/css/header-colors.css" %}" />
{% endblock %}
{% block page_content %}
<h6 class="mb-0 text-uppercase">Tikect Asing</h6>
<hr/>
<div class="card">
	<div class="card-body">
        <div class="table-responsive">
            <table id="tableClient" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Client</th>
						<th>Client Type</th>
                        <th>User</th>
						<th>User Asing</th>
						<th>Status</th>
						{% if request.user.role == 'Admin' %} <th>Active</th> {% endif %}						
						{% if request.user.is_superuser %} <th>Company</th> {% endif %}
						<th>Option</th>
                    </tr>
                </thead>
                <tbody>
					{% for ticket,color in lista %}
						<tr>
							{% if ticket.obamacare  %}
								<td>{{ticket.obamacare.client.first_name}} {{ticket.obamacare.client.last_name}}</td>
								<td>ACA</td>
							{% elif ticket.supp %}
								<td>{{ticket.supp.client.first_name}} {{ticket.supp.client.last_name}}</td>
								<td>SUPP</td>
							{% endif %}
							<td>{{ticket.agent_create.first_name}} {{ticket.agent_create.last_name}}</td>
							<td>{{ticket.agent_customer.first_name}} {{ticket.agent_customer.last_name}}</td>
							
							<td>
								<div class="d-flex align-items-center text-{{color}}">	<i class='bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1'></i>
									<span>{{ticket.status}} -{{color}}</span>
								</div>
							</td>
							{% if request.user.role == 'Admin' %}
								{% if  ticket.is_active%}								
									<td>Vigente</td>
								{% else %}
									<td> Eliminada</td>
								{% endif %}		
							{% endif %}
							{% if request.user.is_superuser %} <td>{{ticket.company.company_name}}</td> {% endif %}				
							<td>
								<div class="d-flex order-actions">
									<a href="{% url 'editTicket' ticket.id %}" class=""><i class='bx bxs-edit'></i></a>
									{% if request.user.role == 'Admin' or request.user.is_superuser %}
										<a href="{% url 'toggleTicketStatus' ticket.id %}" class="ms-3"><i class='bx bxs-trash'></i></a>
									{% endif %}
								</div>
							</td> 
						</tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block end_js %}
	<!-- Bootstrap JS -->
	<script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
	<!--plugins-->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/plugins/simplebar/js/simplebar.min.js" %}"></script>
	<script src="{% static "assets/plugins/metismenu/js/metisMenu.min.js" %}"></script>
	<script src="{% static "assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js" %}"></script>
	<script src="{% static "assets/plugins/datatable/js/jquery.dataTables.min.js" %}"></script>
	<script src="{% static "assets/plugins/datatable/js/dataTables.bootstrap5.min.js" %}"></script>
	<script>
		$(document).ready(function() {$('#tableClient').DataTable();} );
	</script>
	<!--app JS-->
	<script src="{% static "assets/js/app.js" %}"></script>
{% endblock %}